@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
  font-family: 'DIN Condensed';
  src: url('/fonts/DINCondensed-Regular.woff2') format('woff2'),
       url('/fonts/DINCondensed-Regular.woff') format('woff'),
       url('/fonts/DINCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Condensed';
  src: url('/fonts/DINCondensed-Light.woff2') format('woff2'),
       url('/fonts/DINCondensed-Light.woff') format('woff'),
       url('/fonts/DINCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-50 min-h-screen flex flex-col font-sans;
    background-image: url('../assets/mainBg.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  #app {
    @apply flex-1 flex flex-col;
  }
}